<nav class="navbar navbar-expand navbar-light shadow-lg bg-black bg-gradient bg-opacity-75 fixed-top">
    <div  class="container-fluid">
      <a class="navbar-brand text-white">
        <h2 class="d-inline">
          <img id="logo" class="rounded-circle" src="images/bbq-party-logo.jpg" width="50" height="50" alt="">
          PROFESSOR JENSON'S BBQ LEAGUE
        </h2>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a id="navButton1" class="nav-link " data-bs-toggle="pill" href="#home"><strong>HOME</strong></a>
        </li>
        <li class="nav-item">
          <a id="navButton2" class="nav-link active" data-bs-toggle="pill" href="#team"><strong>TEAMS</strong></a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="homeAnimate" class="container-fluid">
    <div class="tab-content row">
        <div class="col-3 shadow-lg bg-black bg-gradient bg-opacity-75 rounded-3 text-white text-center mx-auto">
            <div class="text-start text-break pt-3">
              <h3>UPCOMING EVENTS</h3>
              <ul>
                <li>FRI 02/11 9am-10pm: Brisket Contest</li>
                <li>SAT 02/12 5pm-10pm: Pork Shoulder Butt Roasting Demo</li>
                <li>SUN 02/13 6pm-11pm: How to Smoke a Tri-tip Roast</li>
                
              </ul>
            </div>
            
            <img src="images/bbq-party.jpg" class="img-fluid w-100 rounded-3" alt="">
            
          </div>
          <!--Home Content-->
          <div class="col-9 ">
            <div class="shadow-lg rounded-3  p-3 mb-2 bg-opacity-75 bg-gradient bg-black text-white">
              <h1>HOME PAGE</h1>
              <p>Welcome to the GRILLING LEAGUE!</p>
              <p>Smoke it, sear it, inject it, love it!</p>
              <p>We have regularly scheduled BBQ lessons and competitions.</p>
              <p>Visit our Teams page to see what specialty teams you might want to join.</p>
              
            </div>
            <div class="shadow-lg rounded-3 w-100 p-3 my-2 bg-black bg-gradient bg-opacity-75">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/owutZE-RvE8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div><div class="shadow-lg rounded-3 w-100 p-3 my-2 bg-black bg-gradient bg-opacity-75">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rq-nNfUrgNc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class=" shadow-lg rounded-3  p-3 mt-2 bg-black bg-gradient bg-opacity-75 text-white">
              <h2>BBQ LEAGUE RULES</h2>
              
              <ul>
               
                <li>Sportsmanship is of the utmost importance, we are all here to have fun and enjoy grilling, do not ruin it for others.</li>
                <li>Inappropriate language is not tolerated! this includes what is said in chat, and what is said to other participants outside of the game.</li>
                <li>If you signed up and are scheduled to play in a Tournament you must show.</li>
                
              </ul>
            </div>
          </div>
    </div>
  </div>


